.content {
  display: flex;
  flex-direction: column;
  /* Don't stretch width */
  align-items: center;
  /* 95% of the viewport */
  height: 95vh;
}

.email-section span {
  /* Don't shrink the text responsively */
  flex: none;
  /* Make each span a separate line */
  display: block;
  text-align: center;
  margin: 0.3em;
}

#logo {
  /* Start with the image size, shrink if needed */
  flex: initial;
  /* But not below 100px wide */
  min-width: 100px;
  margin: 0.5em;
}
